body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

header {
  text-align: center;
  background-color: #c7b299;
  color: white;
  padding: 40px s20px;
  border-radius: 8px;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header a {
  color: #000000;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

nav button {
  background-color: #c7b299;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav button:hover {
  background-color: #e4860b;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 20px auto;
}

section {
  background-color: #c7b299;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #2c3e50;
  margin-bottom: 15px;
  border-bottom: 2px solid #000000;
  display: inline-block;
  padding-bottom: 5px;
}
h4 {
  color: #2c3e50;
  margin-bottom: 15px;
  border-bottom: 2px solid #000000;
  display: inline-block;
  padding-bottom: 5px;
}

section ul {
  list-style-type: disc;
  margin-left: 20px;
}

section ul li {
  margin: 10px 0;
}

img {
  display: block;
  max-width: 200px;
  height: auto;
  margin: 20px agiuto;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #c7b299;
  color: white;
  border-radius: 8px;
  margin-top: 40px;
}
